html {
	 height: 100%;
	 width: 100%;
}

body {
	 height:  100%;
	 width:  100%;
	 margin: 0px;
	 padding: 0px;
}

#map-canvas {
	height: 100%;
	width:  100%;	
}

#schedule{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-collapse: collapse;
	width: 100%;
}

#schedule tr th, td {
	border-right-color: black;
	border-bottom-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
}